.playing-cover {
  display: block;
  padding-top: 60px;
}

.playing-cover__img {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.playing-cover__img img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
  box-shadow: 0px 2px 10px orange;
}

.playing-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.playing-info span:first-child {
  font-size: 18px;
  font-weight: 600;
}

.playing-info span:last-child {
  font-size: 12px;
}