.progress-bar {
    display: block;
    width: 80%; /* 바의 너비 */
    margin-left: 10%;
    height: 5px; /* 바의 높이 */
    background-color: black; /* 바의 배경색 */
    position: fixed;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 3px;
}

/* 슬라이더 스타일 (미디어 재생바 조절) */
input[type="range"] {
    -webkit-appearance: none; /* 브라우저 기본 스타일 제거 (크로스 브라우징) */
    width: 100%; /* 슬라이더의 너비 */
    height: 5px; /* 슬라이더의 높이 */
    background: transparent; /* 슬라이더의 배경색 (투명으로 설정) */
    position: relative;
    z-index: 2; /* Thumb 위에 위치시킴 */
}

/* 슬라이더 Thumb 스타일 */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* 브라우저 기본 스타일 제거 (크로스 브라우징) */
    width: 12px; /* Thumb의 너비 */
    height: 12px; /* Thumb의 높이 */
    background-color: #000000; /* Thumb의 배경색 */
    border-radius: 50%; /* 동그라미 모양 만들기 */
    position: relative;
    top: -9px;
    z-index: 3; /* 다른 요소 위에 위치시킴 */
}


  