#todo-form {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 40%;
    background-color: wheat;
}

#todo-form input {
    border: none;
    background-color: wheat;
    padding: 10px 10px;
    font-size: 12px;
    border-radius: 4px;
  }

  #todo-form input[type="text"] {
    width: 100%; /* 부모 요소(form)의 너비를 100%로 설정하여 가로 길이를 맞춥니다 */
    box-sizing: border-box; /* 내용과 패딩을 너비에 포함시킵니다 */
  }
  
  .trash {
    color: rgb(200, 141, 31);
    margin-left: 10px;
  }

  .todoText {
    color: rgb(246, 243, 237);
    font-size: 24px;
    background-color: rgba(0,0,0, 0.2);

  }