.hidden {
  display: none;
}

body {
  background-image: url('https://source.unsplash.com/random?sig=110');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}


.date-bar {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  justify-content: space-between; /* 가로 중앙 정렬 */
}

.date-bar__clock {
  background-color: aliceblue;
  background-color: transparent;
}

.date-bar__clock__time {
  font-size: 86pt;
  font-weight: 600;
  -webkit-text-stroke: 1px whitesmoke; /* 테두리 두께 및 색상 설정 */
  color: white;
  
}
.date_bar__clock__date {
  font-size: 40pt;
  -webkit-text-stroke: 1px whitesmoke; /* 테두리 두께 및 색상 설정 */
  color: white;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

#login-form input {
  border: none;
  padding: 10px 0px;
  font-size: 18px;
  margin-bottom: 10px;
  border-radius: 4px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
  border-radius: 0px;
}

#login-form input[type="submit"] {
  background-color: orange;
  cursor: pointer;
}

#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}

#login-form input:focus {
  border-color: yellow;
}

#login-form input:nth-child(2) {
  margin-bottom: 30px;
}

#login-form a {
  font-size: 52px;
  text-align: center;
}

.hide {
  display: none;
}